PORT=3001
HOST=0.0.0.0
NODE_ENV=development
AWS_REGION=eu-north-1

# Set locally in .env (not committed):
# AWS_ACCESS_KEY_ID=
# AWS_SECRET_ACCESS_KEY=

COGNITO_USER_POOL_ID=eu-north-1_7kSYxgEr6
COGNITO_CLIENT_ID=mu4hog4jim74lhah2s4svbv41
COGNITO_ISSUER=https://cognito-idp.eu-north-1.amazonaws.com/eu-north-1_7kSYxgEr6

DYNAMODB_USERS_TABLE=Mini-jira-Users
DYNAMODB_TEAMS_TABLE=Mini-jira-Teams
DYNAMODB_TASKS_TABLE=Mini-jira-Tasks
DYNAMODB_PROJECTS_TABLE=Mini-jira-Projects
DYNAMODB_AUDIT_LOG_TABLE=Mini-jira-AuditLog
DYNAMODB_COMMENTS_TABLE=Mini-jira-Comments
DYNAMODB_ACTIVITY_LOGS_TABLE=ActivityLogs
DYNAMODB_FALLBACK_TO_MEMORY=false

FRONTEND_ORIGIN=http://localhost:3000
